
.logoImage{
    position: relative;
    width: 200px;
    height: 100px;
    transform: translateY(-16px);
}

.navlist{
    display: flex;
    gap: 45px;
    align-items: center ;
}

.bigNav{
    display: flex;
    height: 75px !important;
    justify-content: space-between;
    background-color: transparent;
    color: white ;
    padding: 16px 32px;
    padding-left: 16 !important;
    padding-bottom: 0 !important;
}

.NavBtn{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    height: 45px;
    width: 145px;
}

.smallNav{
    display: none;
}

.smallNavList{
    display: flex;
    gap: 45px;
    align-items: center ;
    color: white;
    margin-top: 0px;
    justify-content: center;
    border-top: 1px solid #5b554f !important;
    border-bottom: 1px solid #5b554f !important;
}
.smallNavTop{
    display: flex;
    color: white;
    
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1024px) {
  .bigNav {
    display: none;
    padding-left: 16px;
  }

  .logoImage{
    margin-left: 16px;
    transform: translateY(5px);
  }

 .NavBtn{
    margin-right: 16px;
}
  .smallNav{
    display: flex;
    height: 100px;
    flex-direction: column;
  }

  .smallNavTop{
    padding-left: 0 !important;
    padding: 0px 10px;
  }
}



@media (max-width: 768px) {
    .smallNavTop{
       
        padding-right: 15px;
    }

    .logoImage{
        margin-left: 16px;
        transform: translateY(5px);
      }

    .smallNavList h2{
        margin: 10px;
        font-size: 1.25rem;
    }
}

@media (max-width: 534px)   {
    .smallNavList{
        gap: 15px;
    }
}