.container{
  
    display: flex;
    justify-content: center;
}

.robotGif{
    width: 100%;
}

.vidContainer{
    width: 100%;
    padding: 0px 100px;
}
.video{
    width: 100%;
}
.content{
    max-width: 1120px !important;
    color: white;
    /* margin-top: 40px; */
}

.upperTitle{
    text-align: center;
    min-height: 0px !important;
    min-width: 0px !important;
    font-family: "Gilroy";
    font-weight: 700 !important;
    font-size: 38px !important;
    line-height: 42px !important;
    margin-bottom: 30px !important;
    -webkit-font-smoothing: antialiased !important;
}

.vidContainer{
    display: flex;
    justify-content: center;
}

.vid{
    max-width: 820px;
}

.vid img{
    width: 100%;
}
.title{
    text-align: center;
    font-family: "Gilroy";
    margin-top: 100px;
    margin-bottom: 80px !important;
    font-weight: 400 !important;
    font-size: 80px !important;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 5% !important;
}

.detailsAlt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 5% !important;
}

.detailsText{
    flex: 1;
}

.txtTitle{
    font-weight: 700 !important;
    font-size: 28px !important;
    line-height: 32px !important;
    margin-bottom: 20px !important;
}

.txtDesc{
    min-height: 0px !important;
    min-width: 0px !important;
    font-size: 20px !important;
    line-height: 36px !important;
    -webkit-font-smoothing: antialiased !important;
}
.detailsImage{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* background-color: #FAF4F1 !important; */
}
.detailsImage img{
    width: 100%;
    border-radius: 15px;
    margin: 0% !important;
}

.phoneImg{
    height: 500px;
    width: fit-content !important;
}

.text{
    display: flex;
    flex-direction: column;
    padding-right: 25%;
}

.textAlt{
    display: flex;
    flex-direction: column;
    padding-left: 25%;
}

.joinWaitlistBtn{
    user-select: none !important;
    background: #1865f2 !important;
    color: #ffffff !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
    border-radius: 6px !important;
    height: 56px !important;
    width: 100% !important;
}
@media (max-width: 1170px) {
    .container{
        padding: 0px 50px !important;
      
    }
    
}

@media (max-width: 1024px) {

    .container{
        padding: 0px 0px !important;
    }

    .title{
        font-size: 60px !important;
        margin-top: 0px !important;
    }
    .content{
        max-width: 1120px !important;
        color: white;
        /* margin-top: 80px; */
    }

    .details{
        -webkit-box-direction: reverse !important;
        -webkit-box-orient: vertical !important;
        -webkit-flex-direction: column-reverse !important;
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
        padding: 0 40px !important;
    }

    .detailsAlt{
        flex-direction: column;
    }

    

    .detailsImage img{
       height: 400px;
    
    /* margin: 15% !important; */
    }

    .text{
        padding-right: 0;
    }
    .textAlt{
        padding-left: 0;
    }

    .txtTitle{
        margin-top: 35px;
    }

    .stepHeading{
        margin-bottom: 40px;
    }

    .vidContainer{
        width: 100%;
        padding: 0px 100px;
        margin-bottom: 50px;
    }
    
  }
  

  .stepsContainer{
    display: flex;
    margin-top: 140px;
    margin-bottom: 140px;
  }

  .heading{
    flex: 1;
  }

  .stepsContent{
    flex: 1;
  }

  .stepTitle{
    font-weight: 700 !important;
    font-size: 28px !important;
    line-height: 32px !important;
    margin-bottom: 10px !important;
    -webkit-font-smoothing: antialiased !important;
  }

  .stepHeading{
    font-weight: 700 !important;
    font-size: 38px !important;
    line-height: 42px !important;
    -webkit-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
    -webkit-font-smoothing: antialiased !important;
  }
  .stepBody{
    font-size: 20px !important;
    line-height: 36px !important;
    margin-bottom: 80px !important;
    display: block !important;
    -webkit-font-smoothing: antialiased !important;
  }

  
@media (max-width: 1024px) {

    .detailsContainer{
        margin-top: 50px !important;
    }

    .stepsContainer{
        flex-direction: column;
        padding: 0 5%;
    }

    .aboutOrg{
        flex-direction: column;
        padding: 0 5%;
    }

    .aboutOrgTitle{
        margin-bottom: 30px;
    }

    .faqContainer{
        flex-direction: column;
        padding: 0 5%;
    }

    .faqTitle{
        margin-bottom: 30px;
    }

    .detailsImage{

    }
}

.aboutOrg{
    display: flex;
    margin-bottom: 140px
}

.aboutOrgTitle{
    flex: 1;
    font-weight: 700 !important;
    font-size: 38px !important;
    line-height: 42px !important;
}

.aboutOrgDesc{
    flex: 1;
    font-size: 20px !important;
    line-height: 36px !important;
    margin-bottom: 80px !important;
    display: block !important;
    -webkit-font-smoothing: antialiased !important;
}

.faqContainer{
    display: flex;
}

.faqTitle{
    flex: 1;
    font-weight: 700 !important;
    font-size: 38px !important;
    line-height: 42px !important;
}

.faqs{
    flex: 1;
}

.faqCard{
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: row !important;
   
    position: relative !important;
    border-radius: 10px !important;
    border: 1px solid #d4d4d6 !important;
    padding: 20px 54px 20px 24px !important;
    font-size: 24px !important;
    -webkit-font-smoothing: antialiased !important;
    margin-bottom: 25px
}


@media (max-width: 732px){
    .title{
        font-size: 45px !important;
    }

    .detailsContainer{
        margin-top: 50px !important;
    }
    .vidContainer{
        width: 100%;
        padding: 0px 75px;
        margin-bottom: 50px;
    }
    
}

@media (max-width: 534px){
    
.title{
    margin-bottom: 0 !important;
}

.detailsContainer{
    margin-top: 50px !important;
}
    .vidContainer{
        width: 100%;
        padding: 0px 30px;
        margin-bottom: 50px;
    }
    
}